$navigation-primary: #BCBFC5;
$navigation-background: #262F40;

nav {
  background: $navigation-background;
  color: $navigation-primary;
  grid-column: nav-start / content-start;
  grid-row: header-start / content-end;

  ul {
    margin: 40px 0px;
    list-style-type: none;
    padding: 0px;
  }

  li {
    padding: 5px 10px;
  }

  .nav__li--active {
    color: $navigation-background;
    background: white;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }
}

.nav-toggle {
  width: 30px;
  height: 30px;
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  background: papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  nav {
    display: block;
    position: fixed;
    left: -200px;
    width: 200px;
    height: 100%;
  }

  .nav--visible {
    left: 0px;
  }

  .nav-toggle {
    visibility: visible;
  }
}

@media only screen and (max-width: 400px) {
  nav {
    width: 100%;
    height: 100%;
    visibility: hidden;
  }

  .nav--visible {
    left: 0px;
    visibility: visible;
  }

  .nav-toggle {
    visibility: visible;
  }
}
