body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: sans-serif; }

.layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [nav-start] 200px [content-start] auto [content-end];
  grid-template-rows: [header-start] 30px [content-start] auto [content-end]; }

@media only screen and (max-width: 1024px) {
  .layout {
    grid-template-columns: [content-start] auto [content-end]; } }

nav {
  background: #262F40;
  color: #BCBFC5;
  grid-column: nav-start / content-start;
  grid-row: header-start / content-end; }
  nav ul {
    margin: 40px 0px;
    list-style-type: none;
    padding: 0px; }
  nav li {
    padding: 5px 10px; }
  nav .nav__li--active {
    color: #262F40;
    background: white; }
  nav a {
    text-decoration: none;
    color: inherit; }
  nav a:link {
    color: inherit; }
  nav a:visited {
    color: inherit; }
  nav i {
    width: 18px;
    margin-right: 5px;
    text-align: center; }

.nav-toggle {
  width: 30px;
  height: 30px;
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  color: #262F40;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.nav-toggle--close {
  color: white; }

@media only screen and (max-width: 1024px) {
  nav {
    display: block;
    position: fixed;
    left: -200px;
    width: 200px;
    height: 100%; }
  .nav--visible {
    left: 0px; }
  .nav-toggle {
    visibility: visible; } }

@media only screen and (max-width: 400px) {
  nav {
    width: 100%;
    height: 100%;
    visibility: hidden;
    text-align: center; }
  .nav--visible {
    left: 0px;
    visibility: visible; }
  .nav-toggle {
    visibility: visible; } }

header {
  grid-row: header-start / content-start;
  grid-column: content-start / content-end;
  background: white;
  color: #262F40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  header h2 {
    font-size: 1.25em;
    margin: 0px 10px; }

article {
  grid-column: content-start / content-end;
  grid-row: content-start / content-end;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  article p {
    max-width: 500px; }
  article .content__stock-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px 10px;
    font-size: 0.8em; }
  article .content__stock-name {
    width: 150px; }
  article .content__stock-symbol {
    width: 50px; }
  article .content__stock-price {
    width: 50px; }
  article .content__stock-change {
    width: 50px; }
